Repository WaffleHacks/application-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-infrastructure

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-ast
      - id: check-docstring-first
      - id: check-json
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        args:
          - --profile
          - black
          - --filter-files
  - repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
      - id: black
        language_version: python3.9
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic[email]>=1.9.0,<1.10.0
          - sqlalchemy[mypy]>=1.4.31,<1.5.0
          - sqlalchemy2-stubs>=0.0.2-alpha.19,<0.1.0
          - sqlmodel>=0.0.6,<0.1.0
          - boto3-stubs-lite[s3,sqs]>=1.21.42,<1.22.0
  - repo: local
    hooks:
      - id: eslint-frontend
        name: eslint
        entry: node ./frontend/node_modules/eslint/bin/eslint.js
        args:
          - --ignore-pattern
          - '!frontend/.prettierrc.js'
          - --fix
        language: system
        files: ^frontend/.*\.[jt]sx?$
      - id: eslint-infrastructure
        name: eslint
        entry: node ./infrastructure/node_modules/eslint/bin/eslint.js
        args:
          - --fix
        language: system
        files: ^infrastructure/.*\.ts$

default_language_version:
  python: python3.9

Add root component
  infrastructure/package.json
  infrastructure/src/index.ts
  infrastructure/yarn.lock
Due: eslint-infrastructure

Add sync resources
  infrastructure/package.json
  infrastructure/src/index.ts
  infrastructure/src/sync.ts
  infrastructure/yarn.lock
Due: eslint-infrastructure

Add registration resources
  infrastructure/src/index.ts
  infrastructure/src/registration.ts
Due: eslint-infrastructure

Represent input arguments better
  infrastructure/src/index.ts
Due: eslint-infrastructure

Subscribe queue to provided topic
  infrastructure/src/sync.ts
Due: eslint-infrastructure

Document component inputs
  infrastructure/src/index.ts
Due: eslint-infrastructure

Add npm registry specification
  infrastructure/.npmrc
Due: none

Add github action
  .github/workflows/component.yml
  infrastructure/.nvmrc
Due: none

Remove explicit build step
  .github/workflows/component.yml
Due: none

Fix linting in CI
  .github/workflows/lint.yml
Due: none

Denote difference between yarn installs in lint action
  .github/workflows/lint.yml
Due: none

Add infrastructure component (#9)
  .github/workflows/component.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  infrastructure/.eslintignore
  infrastructure/.eslintrc.js
  infrastructure/.gitignore
  infrastructure/.npmignore
  infrastructure/.npmrc
  infrastructure/.nvmrc
  infrastructure/.prettierrc.js
  infrastructure/package.json
  infrastructure/src/index.ts
  infrastructure/src/registration.ts
  infrastructure/src/sync.ts
  infrastructure/tsconfig.json
  infrastructure/yarn.lock
Due: eslint-infrastructure

Fix wrong token being used for component package publishing
  .github/workflows/component.yml
Due: none

Use input type for infra component
  infrastructure/package.json
  infrastructure/src/index.ts
  infrastructure/src/registration.ts
  infrastructure/src/sync.ts
Due: eslint-infrastructure

Add cors configuration
  infrastructure/src/index.ts
  infrastructure/src/registration.ts
Due: eslint-infrastructure

Prevent bucket objects from being public
  infrastructure/src/registration.ts
Due: eslint-infrastructure

Bump infrastructure component version
  infrastructure/package.json
Due: none

Fix resume bucket cors configuration
  infrastructure/package.json
  infrastructure/src/registration.ts
Due: eslint-infrastructure

Reduce the amount of different permissions
  common/permissions.py
  frontend/src/store/scopes.ts
  infrastructure/package.json
  infrastructure/src/authentication.ts
  infrastructure/yarn.lock
  registration/applications.py
  registration/participants.py
  registration/schools.py
Due: eslint-frontend, eslint-infrastructure

Update audience setting
  common/authentication/__init__.py
  frontend/src/components/Authentication.tsx
  frontend/src/index.tsx
Due: eslint-frontend

Add rtk query error handling
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/store/errors.ts
  frontend/src/store/index.ts
  frontend/yarn.lock
Due: eslint-frontend

Add basic error handling for uploading resume
  frontend/src/pages/application/Application.tsx
  frontend/src/store/types.ts
Due: eslint-frontend

Notify successful submission
  frontend/src/pages/application/Application.tsx
Due: eslint-frontend

Fix application create body
  frontend/src/store/registration.ts
Due: eslint-frontend

API Permissions rework (#11)
  common/authentication/__init__.py
  common/permissions.py
  frontend/package.json
  frontend/src/components/Authentication.tsx
  frontend/src/index.tsx
  frontend/src/pages/application/Application.tsx
  frontend/src/store/errors.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/scopes.ts
  frontend/src/store/types.ts
  frontend/yarn.lock
  infrastructure/package.json
  infrastructure/src/authentication.ts
  infrastructure/yarn.lock
  registration/applications.py
  registration/participants.py
  registration/schools.py
Due: eslint-frontend, eslint-infrastructure

Setup authorization in infra component
  infrastructure/package.json
  infrastructure/src/index.ts
Due: eslint-infrastructure

Reorganize into distinct views for different groups
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/participants/components/Layout.tsx
  frontend/src/participants/components/Navigation.tsx
  frontend/src/participants/components/steps/AutoSave.tsx
  frontend/src/participants/components/steps/MultiStepForm.tsx
  frontend/src/participants/components/steps/Progress.tsx
  frontend/src/participants/components/steps/Step.tsx
  frontend/src/participants/components/steps/index.ts
  frontend/src/participants/index.tsx
  frontend/src/participants/pages/Status.tsx
  frontend/src/participants/pages/application/AboutForm.tsx
  frontend/src/participants/pages/application/Application.tsx
  frontend/src/participants/pages/application/EducationForm.tsx
  frontend/src/participants/pages/application/ExperienceForm.tsx
  frontend/src/participants/pages/application/Review.tsx
  frontend/src/participants/pages/application/ShippingForm.tsx
  frontend/src/participants/pages/application/form.ts
  frontend/src/participants/pages/application/index.ts
  frontend/src/store/index.ts
  frontend/src/store/selectors.ts
Due: eslint-frontend

Add management layout
  frontend/src/App.tsx
  frontend/src/components/navigation.tsx
  frontend/src/organizers/components/Layout.tsx
  frontend/src/organizers/components/Navigation.tsx
  frontend/src/organizers/index.tsx
  frontend/src/participants/components/Layout.tsx
  frontend/src/participants/components/Navigation.tsx
Due: eslint-frontend

Fix participant navbar styling
  frontend/src/participants/components/Navigation.tsx
Due: eslint-frontend

Fix navbar logo
  frontend/src/logo-title.png
  frontend/src/organizers/components/Navigation.tsx
  frontend/src/participants/components/Navigation.tsx
Due: eslint-frontend

Add listing all applications
  frontend/src/organizers/components/Layout.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/List.tsx
  frontend/src/organizers/pages/applications/index.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
Due: eslint-frontend

Include participant information when listing and reading applications
  common/database/tables/__init__.py
  common/database/tables/application.py
  registration/applications.py
Due: none

Reduce amount of information returned when listing applications
  common/database/tables/__init__.py
  common/database/tables/application.py
  frontend/src/organizers/pages/applications/List.tsx
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
  registration/applications.py
Due: eslint-frontend

Add created at time for applications
  common/database/migrations/versions/3f3fbcf548e9_add_application_created_at.py
  common/database/tables/application.py
  common/database/tables/types.py
  frontend/package.json
  frontend/src/organizers/pages/applications/List.tsx
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
  frontend/yarn.lock
Due: eslint-frontend

Order listed applications by created date
  registration/applications.py
Due: none

Add client-side ordering of columns
  frontend/src/organizers/pages/applications/List.tsx
Due: eslint-frontend

Add application detail view
  frontend/src/organizers/components/Layout.tsx
  frontend/src/organizers/components/Navigation.tsx
  frontend/src/organizers/components/StatusBadge.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/List.tsx
  frontend/src/organizers/pages/applications/index.ts
Due: eslint-frontend

Add retrieving applications for a school
  common/database/tables/__init__.py
  common/database/tables/application.py
  common/database/tables/school.py
  registration/schools.py
Due: none

Add viewing applications for a school
  frontend/src/organizers/components/Layout.tsx
  frontend/src/organizers/components/Loading.tsx
  frontend/src/organizers/components/NotFound.tsx
  frontend/src/organizers/components/description/Description.tsx
  frontend/src/organizers/components/description/Items.tsx
  frontend/src/organizers/components/description/Section.tsx
  frontend/src/organizers/components/description/index.ts
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/List.tsx
  frontend/src/organizers/pages/schools/Detail.tsx
  frontend/src/organizers/pages/schools/index.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
Due: eslint-frontend
