Repository WaffleHacks/application-portal: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint-frontend, eslint-infrastructure

eslint-frontend:
  name: eslint
  entry: node ./frontend/node_modules/eslint/bin/eslint.js
  args:
  - --ignore-pattern
  - '!frontend/.prettierrc.js'
  - --fix
  language: system

eslint-infrastructure:
  name: eslint
  entry: node ./infrastructure/node_modules/eslint/bin/eslint.js
  args:
  - --fix
  language: system

Add linking spans between events/tasks
  common/nats.py
  tasks/loader/callback.py
Due: none

Add console logging when executing callbacks
  tasks/loader/callback.py
Due: none

Migrate celery tasks to new task system
  tasks/handlers/communication/__init__.py
  tasks/handlers/communication/on_application_accepted.py
  tasks/handlers/communication/on_application_rejected.py
  tasks/handlers/communication/on_apply.py
  tasks/handlers/communication/on_sign_up.py
  tasks/handlers/communication/send_incomplete_reminder.py
  tasks/handlers/communication/util.py
  tasks/handlers/models.py
Due: none

Consolidate mailer actions into tasks
  common/mail/__init__.py
  common/mjml.py
  common/settings/specific.py
  communication/messages.py
  communication/triggers.py
  communication/util.py
  tasks/handlers/communication/on_application_accepted.py
  tasks/handlers/communication/on_application_rejected.py
  tasks/handlers/communication/on_apply.py
  tasks/handlers/communication/on_sign_up.py
  tasks/handlers/communication/send.py
  tasks/handlers/communication/send_incomplete_reminder.py
  tasks/handlers/communication/send_test.py
  tasks/handlers/communication/shared.py
Due: none

Fix durations for incomplete reminder emails
  tasks/handlers/communication/on_sign_up.py
Due: none

Final cleanup and dependency setup
  .env.example
  .github/workflows/containers.yml
  Dockerfile
  common/tracing/__init__.py
  docker-entrypoints/tasks.sh
  poetry.lock
  pyproject.toml
  tasks/main.py
Due: none

Fix linter issues
  tasks/handlers/communication/__init__.py
  tasks/handlers/communication/send_incomplete_reminder.py
Due: none

Remove unnecessary lint run on pull request
  .github/workflows/lint.yml
Due: none

Convert sent boolean to enum
  common/database/migrations/versions/55cbf28ab22e_convert_message_sent_to_enum.py
  common/database/tables/__init__.py
  common/database/tables/message.py
  integrations/discord.py
  registration/applications.py
  registration/bulk.py
  tasks/handlers/communication/send.py
  workshops/swag/__init__.py
Due: none

Prevent draft messages from being sent or used for triggers
  communication/messages.py
  communication/triggers.py
Due: none

Use message status enum on frontend
  frontend/src/organizers/components/StatusBadge.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/PendingList.tsx
  frontend/src/organizers/pages/applications/StatusList.tsx
  frontend/src/organizers/pages/messages/Detail.tsx
  frontend/src/organizers/pages/messages/List.tsx
  frontend/src/organizers/pages/messages/StatusBadge.tsx
  frontend/src/participants/index.tsx
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
Due: eslint-frontend

Add sending state to messages
  common/database/migrations/versions/c1b1ed99e50d_add_sending_message_status.py
  common/database/tables/message.py
  communication/messages.py
  frontend/src/organizers/pages/messages/StatusBadge.tsx
  frontend/src/store/types.ts
Due: eslint-frontend

Allow changing the status of messages
  common/database/tables/message.py
  frontend/src/organizers/pages/messages/Detail.tsx
  frontend/src/store/communication.ts
Due: eslint-frontend

Use enum for message status (#26)
  common/database/migrations/versions/55cbf28ab22e_convert_message_sent_to_enum.py
  common/database/migrations/versions/c1b1ed99e50d_add_sending_message_status.py
  common/database/tables/__init__.py
  common/database/tables/message.py
  communication/messages.py
  communication/triggers.py
  frontend/src/organizers/components/StatusBadge.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/PendingList.tsx
  frontend/src/organizers/pages/applications/StatusList.tsx
  frontend/src/organizers/pages/messages/Detail.tsx
  frontend/src/organizers/pages/messages/List.tsx
  frontend/src/organizers/pages/messages/StatusBadge.tsx
  frontend/src/participants/index.tsx
  frontend/src/store/communication.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
  integrations/discord.py
  registration/applications.py
  registration/bulk.py
  tasks/handlers/communication/send.py
  workshops/swag/__init__.py
Due: eslint-frontend

Send notification emails on bulk status change
  registration/bulk.py
Due: none

Add initial database sync
  .env.example
  common/settings/specific.py
  poetry.lock
  pyproject.toml
  sync/initial.py
  sync/main.py
Due: none

Perform full sync with updates instead of partial
  common/settings/specific.py
  sync/initial.py
Due: none

Add permissions for profiles service
  infrastructure/package.json
  infrastructure/src/index.ts
  infrastructure/src/sync.ts
Due: eslint-infrastructure

Add initial database sync on startup (#27)
  .env.example
  common/settings/specific.py
  poetry.lock
  pyproject.toml
  sync/initial.py
  sync/main.py
Due: none

Add seeding database outside of migrations
  common/database/migrations/versions/41f361ac6a74_add_school_abbreviations_and_acronyms.py
  common/database/tables/school.py
  manage.py
Due: none

Update frontend types for schools
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
Due: eslint-frontend

Display alternatives and abbreviations in detail view
  frontend/src/organizers/pages/schools/Detail.tsx
Due: eslint-frontend

Allow editing schools on the frontend
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/schools/Detail.tsx
  frontend/src/organizers/pages/schools/Edit.tsx
  frontend/src/organizers/pages/schools/Form.tsx
  frontend/src/organizers/pages/schools/New.tsx
  frontend/src/organizers/pages/schools/index.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
Due: eslint-frontend

Update school abbreviations and alternatives in the database
  registration/schools.py
Due: none

Implement merging in place of deleting schools
  registration/schools.py
Due: none

Add interface for merging schools
  frontend/src/organizers/components/description/Description.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/schools/Detail.tsx
  frontend/src/organizers/pages/schools/List.tsx
  frontend/src/organizers/pages/schools/Merge.tsx
  frontend/src/organizers/pages/schools/Search.tsx
  frontend/src/organizers/pages/schools/index.ts
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
Due: eslint-frontend

Merge alternatives and abbrevations as well
  registration/schools.py
Due: none

Allow selecting arbitrary strings in autocomplete search
  frontend/src/components/input/AutoCompleteSelect.tsx
  frontend/src/participants/pages/application/EducationForm.tsx
Due: eslint-frontend

Automatically create school if not found when application submitted
  registration/applications.py
Due: none

Allow flagging newly created schools for review
  common/database/migrations/versions/204f901e04ea_add_school_review_flag.py
  common/database/tables/school.py
  registration/applications.py
  registration/schools.py
Due: none

Require reviewing participant created schools
  frontend/src/organizers/components/WarningFlag.tsx
  frontend/src/organizers/components/description/Description.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/PendingList.tsx
  frontend/src/organizers/pages/schools/Detail.tsx
  frontend/src/organizers/pages/schools/Form.tsx
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
  registration/schools.py
Due: eslint-frontend

Remove text to contact operations if school does not exist
  frontend/src/participants/pages/application/EducationForm.tsx
Due: eslint-frontend

Allow participants to create schools if they don't exist (#28)
  common/database/migrations/versions/204f901e04ea_add_school_review_flag.py
  common/database/migrations/versions/41f361ac6a74_add_school_abbreviations_and_acronyms.py
  common/database/tables/school.py
  frontend/src/components/input/AutoCompleteSelect.tsx
  frontend/src/organizers/components/WarningFlag.tsx
  frontend/src/organizers/components/description/Description.tsx
  frontend/src/organizers/index.tsx
  frontend/src/organizers/pages/applications/Detail.tsx
  frontend/src/organizers/pages/applications/PendingList.tsx
  frontend/src/organizers/pages/schools/Detail.tsx
  frontend/src/organizers/pages/schools/Edit.tsx
  frontend/src/organizers/pages/schools/Form.tsx
  frontend/src/organizers/pages/schools/List.tsx
  frontend/src/organizers/pages/schools/Merge.tsx
  frontend/src/organizers/pages/schools/New.tsx
  frontend/src/organizers/pages/schools/Search.tsx
  frontend/src/organizers/pages/schools/index.ts
  frontend/src/participants/pages/application/EducationForm.tsx
  frontend/src/store/index.ts
  frontend/src/store/registration.ts
  frontend/src/store/types.ts
  manage.py
  registration/applications.py
  registration/schools.py
Due: eslint-frontend

Allow getting application status by email
  integrations/discord.py
Due: none

Include id in status response
  integrations/discord.py
Due: none

Move internal dependency to router
  integrations/discord.py
Due: none

Make participants api internal
  registration/participants.py
Due: none

Add settings table
  common/database/migrations/versions/cedc0da31c8f_add_settings.py
  common/database/tables/__init__.py
  common/database/tables/settings.py
Due: none

Add operations service
  dev-proxy/Caddyfile
  manage.py
  operations/__init__.py
  operations/main.py
  poetry.lock
Due: none

Path conditions:
  eslint-frontend: any of: ^frontend/.*\.[jt]sx?$
  eslint-infrastructure: any of: ^infrastructure/.*\.ts$
